body {
  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #000;
}

ul,
ol,
dl {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
}
a img {
  border: none;
}

a:link {
  color: #ffcc00;
  text-decoration: underline;
}
a:visited {
  color: #ffcc00;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  color: #0099ff;
  text-decoration: underline;
}

.container {
  width: 979px;
  margin: 0 auto;
}

.header {
  min-height: 40px;
  color: #f00;
  text-align: center;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}
.header a,
.header a:link,
.header a:visited {
  color: #f00;
}
.header a:hover,
.header a:active {
  color: #0099ff;
}

.content {
  color: #ff6600;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.content-home {
    padding: 170px 100px 60px 100px;
    height: 295px;
    background-image: url(newyearback.png);
    background-repeat: no-repeat;
  }

.footer {
  padding: 10px 0;
  color: #191919;
  font-size: 9px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: right;
}
.footer a,
.footer a:link,
.footer a:visited {
  color: #666;
}
.footer a:hover,
.footer a:active {
  color: #630;
}

.fltrt {
  float: right;
  margin-left: 8px;
}
.fltlft {
  float: left;
  margin-right: 8px;
}
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

#bigbutton {
  left: 0px;
  width: 438px;
  position: relative;
  margin: 0;
  padding: 0;
}
#bigbutton a {
  height: 120px;
  display: block;
  background: url("big-button.png") 0 0;
}
#bigbutton a:link {
  background: url("big-button.png") 0 0;
}
#bigbutton a:hover {
  background: url("big-button.png") 0 -120px;
}
#bigbutton a:active {
  background: url("big-button.png") 0 -240px;
}

.sectiontop {
  background-image: url(top.png);
  background-repeat: no-repeat;
  height: 267px;
}
.sectionmid {
  background-image: url(mid.png);
  background-repeat: repeat-y;
  min-height: 4px;
}
.sectionbot {
  background-image: url(bottom.png);
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 254px;
}
.contentoverlay {
  float: left;
  width: 779px;
  padding: 170px 100px 60px 100px;
}

h3,
h4 {
  color: #ffcc00;
}
